<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BIND_APPWIDGET" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-feature android:name="android.hardware.camera.flash" android:required="false" />
    <application android:name=".OffxOSApplication" android:theme="@style/AppTheme" android:label="OffxOS Launcher" android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round" android:allowBackup="false" android:supportsRtl="true">
        <activity android:name=".MainActivity" android:screenOrientation="portrait" android:exported="true" android:enableOnBackInvokedCallback="true">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.HOME" /><category android:name="android.intent.category.DEFAULT" /></intent-filter>
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity>
        <activity android:name=".HomeSettingsActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".HomeEditActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".WidgetsActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".WallpaperActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".DeveloperInfoActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".LockScreenActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".NotificationCenterActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".MusicPanelActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".AppDrawerActivity" android:screenOrientation="portrait" android:exported="false" />
        <receiver android:name=".OffxWidgetRestoreReceiver" android:exported="false"><intent-filter><action android:name="android.appwidget.action.APPWIDGET_HOST_RESTORED" /></intent-filter></receiver>
        <service android:name=".OffxNotificationService" android:label="OffxOS Notifications" android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" android:exported="true"><intent-filter><action android:name="android.service.notification.NotificationListenerService" /></intent-filter></service>
    </application>
</manifest>